/* Countdown Timer*/
.countdown-timer {

	@include media("<=414px") {
		margin: 0;
		margin-bottom: 20px;
	}
	display: inline-block;
	margin: 0 14px 0 12px;

	li {
		position: relative;
		display: inline;
		margin-right: 18px;
		font-weight: 600;
		font-size: 36px;

		.hero-counter-wrapper {
			font-size: 24px;
		}

		&::after {
		    position: absolute;
		    margin-left: 8px;
			content: ":";
		    font-weight: 400;
		    line-height: 1.25em;
		}

		&:last-child {
			margin-right: 0;

			&::after {
				display: none;
			}
		}
	}
}
/* -- */

/* Counter */
.counter {
	color: $color-7;
	font-weight: 700;
	font-size: 60px;
	font-family: $body-font;
	margin-top: 5px;

	.breakout-overlay & {
		color: $white;
	}

	&-content {

		@include media("<=tablet") {
			margin-bottom: 25px;
		}
		span {
			display: block;
		}
	}

	&-title {
		color: darken($color-8, 19%);
		font-size: 36px;
		font-family: $heading-font;
	}
}
/* -- */