/* Instafeed (Instagram Gallery) */
ul.instagram-gallery {

	@include media("<=tablet") {
		margin-right: -15px;
		margin-left: -15px;
	}
	margin-top: 47px;

	li {

		@include media("<415px") {
			margin-bottom: 30px;
			width: 100% !important;
		}
		float: left;
		padding: 0 15px;
		width: 33.3333333%;

		&:first-child {
			margin-bottom: 30px;
			width: 66.66666667%;
		}

		&:nth-child(2), &:nth-child(5) {
			margin-bottom: 30px;
		}

		&:nth-child(4) {
			float: right;
			width: 66.66666667%;
		}

		&:last-child {
			@include media("<415px") {
				margin-bottom: 0;
			}
		}

		img {
			@include filter(grayscale(100%));
			@include transition(filter, .5s);

			&:hover {
				@include filter(grayscale(0));
			}
		}
	}
}
/* -- */
