header {
	position: absolute;
    padding: 15px 0;
	width: $full-width;
	height: 100px;
}

/* Navigation */
.navbar {
	&-header {

		@include media("<=738px") {
			margin-right: 0 !important;
			margin-left: 0 !important;
		}
		position: relative;
		margin-top: -10px;
		width: 100%;

		& .hamburger {
			position: absolute;
			right: 0;
			z-index: 1000;
			margin-top: 20px;
			padding-right: 0;
			padding-left: 0;
		}
	}

	&-brand {
		margin-top: 10px;
		padding-right: 0;
		padding-left: 0;

		#nav-wrapper & {
			@include media("<=desktop") {
				margin-top: 0;
				padding-top: 0;
			}

			@include media("<=667px") {
				margin-top: 30px;
			}
		}
	}
}

.dark-icon {
	.hamburger-inner {
		background-color: $base-color;
		transition-delay: .6s;

		&::before,
		&::after {
			background-color: $base-color;
			transition-delay: .4s;
		}
	}

	&.is-active {
		.hamburger-inner {
			background-color: rgba($base-color, 0);
			transition-delay: .5s;

			&::before,
			&::after {
				@include transition(background-color, .5s);
				background-color: $white;
				transition-delay: .5s;
			}
		}
	}
}

#nav-wrapper {
    @include transform(translateY(-100%));
    @include transition-property(all);
	@include transition-duration(0.5s);
	@include transition-timing-function(cubic-bezier(01, 0, 0, 1));
	@include transition-delay(0.2s);

	@include media("<=667px") {
		overflow-x: hidden;
		overflow-y: auto;
		height: $full-height;
	}
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    width: $full-width;
	height: 100px;
    background-color: $base-color;

	.nav-open & {
		@include transform(translateY(0%));
	}

    &.headroom {
	    &--pinned.headroom--top {
		     @include transform(translateY(-100%));
	    }

	    &--pinned.headroom--not-top,
	    .nav-open &--pinned.headroom--top {
		    @include transform(translateY(0%));
	    }

	    &--unpinned {
		    @include transform(translateY(-100%));
	    }
	}

}

.main-nav {

	@include media("<=667px") {
		position: absolute;
	    top: 92px;
	    margin: 0;
	    width: 100%;
	    text-align: center;
	}

	@include media("<=600px", "portrait") {
		top: 133px;
	}
	margin-top: 30px;
	margin-left: 160px;

	li {

		@include media("<=667px") {
			display: block;
			margin-right: 0;
			margin-bottom: 25px;
		}
		display: inline;
		margin-right: 36px;

		&:last-child {
			margin-right: 0;
		}

		a {
			position: relative;
			padding-bottom: 14px;
			color: $white;
			font-style: italic;
			font-size: 18px;
			font-family: $heading-font;

			&::after {
				@include transition-property(all);
				@include transition-duration(0.4s);
				@include transition-delay(0.1s);
				@include transition-timing-function(cubic-bezier(01, 0, 0, 1));

				@include media("<=667px") {
					bottom: 10px;
				}
				position: absolute;
				bottom: 0;
				left: 0;
				width: 30px;
				height: 1px;
				background: $white;
				content: "";
				opacity: .25;
			}

			&:hover::after {
				width: 100%;
				opacity: 1;
			}
		}

	}

	&-wrapper {
		position: relative;
	}
}
/* -- */

/* Hero Section */
.hero {
	&-section {
		.single-product-layout & {
			background: url(../images/1024x768.png) center center;
			background-size: cover;
		}

		.game-deals-layout & {
			background: url(../images/1024x768.png) center center;
			background-size: cover;
		}

		.digital-goodies-deals-layout & {
			background: url(../images/1024x768.png) center center;
			background-size: cover;
		}
	}

	&-content {

		@include media("<=738px") {
			padding: 130px 0 80px;
			height: auto;
		}
		height: $full-height;
		color: $white;

		.product-campaign-layout & {
			color: inherit;
		}

		& p.lead {
			font-weight: normal;
			font-size: 24px;
		}

		& h6.lead {
			font-weight: 700;
			font-size: 36px;
		}

		& h1 {
			&.big-headline {

				@include media("<=568px") {
					font-size: 48px;
				}
				margin-top: 0;
				font-size: 60px;
			}

			&.animated-headline {
				color: $color-5;
			}
		}

		& .btn {
			.game-deals-layout & {
				margin-top: 32px;
			}
		}
	}
}

/* Animated Headline */
.animated {
	&-words-wrapper {
		position: relative;
		display: inline-block;
		overflow: hidden;
		width: 100% !important;
		vertical-align: top;
		text-align: left;

		b {
			position: absolute;
			top: .2em;
			display: inline-block;
			white-space: nowrap;
			opacity: 0;

			&.is-visible {
				@include animation(slide-in 0.6s);
				position: relative;
				top: 0;
				opacity: 1;
			}

			&.is-hidden {
				@include animation(slide-out 0.6s);
			}

			.no-js & {
				opacity: 0;
			}

			.no-js &.is-visible {
				opacity: 1;
			}
		}
	}

	&-headline.slide b {
		width: 100%;
		color: $color-5;
		text-align: left;
	}
}

/* animated slide keyframes */
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -moz-transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -moz-transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(10%);
    -moz-transform: translateY(10%);
    -ms-transform: translateY(10%);
    -o-transform: translateY(10%);
    transform: translateY(10%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
  }
}
@-moz-keyframes slide-out {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  60% {
    opacity: 0;
    -moz-transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(100%);
  }
}
@keyframes slide-out {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  60% {
    opacity: 0;
    -webkit-transform: translateY(120%);
    -moz-transform: translateY(120%);
    -ms-transform: translateY(120%);
    -o-transform: translateY(120%);
    transform: translateY(120%);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
  }
}
/* -- */

/* Hero Counter */
.hero-counter {
	&-wrapper {

		@include media("<=738px", "landscape") {
			position: relative;
		}

		@include media("<=414px") {
			position: relative;
		}
		position: absolute;
		bottom: 0;
		padding: 30px 0;
		width: 100%;
		background-color: rgba($base-color, .25);
	}

	&-content {
		padding-right: 15px;
		padding-left: 15px;
		color: $white;

		.hero-counter-wrapper & {
			float: right;
		}

		> * {
			vertical-align: middle;
		}

		p {
			display: inline-block;
			margin-bottom: 0;
			font-size: 18px;
		}
	}
}

.share-btn {

	@include media("<=phone") {
		margin-right: 10px;
		margin-bottom: 20px;
	}
	display: inline-block;
	margin-right: 16px;

	&:last-child {
		margin-right: 0;
		margin-bottom: 0;
	}

	&.pinterest span {
		vertical-align: super;
	}

	&.gplus > * {
		vertical-align: sub !important;
	}
}
/* -- */