.team {
	&-wrapper {
		padding-right: 15px;
		padding-left: 15px;
	}

	&-item {

		@include media("<=tablet") {
			display: flex;
			margin-bottom: 40px;
		}

		@include media("<=738px") {
			display: block;
		}

		@include media("<=414px") {
			margin-left: 0;
			width: 100%;
		}
		padding: 0;
	}

	&-photo {

		@include media("<=tablet") {
			width: 50%;
		}

		@include media("<=738px") {
			width: 100%;
		}
		position: relative;
		overflow: hidden;

		img {

			@include media("<=phone") {
				height: auto !important;
			}
			width: 100%;
			object-fit: cover;

			.no-touch & {
				@include filter(grayscale(100%));
				@include transition(filter, .5s);
			}
		}
	}

	&-item:hover .team-photo img {
		@include filter(grayscale(0));
	}

	&-description {

		@include media("<=tablet") {
			padding-top: 25px;
			padding-bottom: 31px;
			width: 50%;
		}

		@include media("<=738px") {
			width: 100%;
		}
		padding: 28px 30px 34px;
		background-color: $base-color;
		color: $white;
		text-align: center;

		.team-name {
			margin-bottom: 22px;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 22px;
		}
	}

	&-social {
		margin-top: 27px !important;
		margin-bottom: 0 !important;

		li:last-child {
			margin-right: 0;
		}
	}
}